* { 
    background-color: #282c34;
    color: white;
}

.App * {
    font-size: calc(10px + 2vmin);
    text-align: center;
    margin: 5px auto;
}

.Header h1 {
    font-size: 40px;
}

.pageToggle { 
    display: flex;
    justify-content: center;
}

.SideBySide { 
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
}

button.active { 
    background-color: grey;
}

